html,body,.app{
    height: 100%;
    margin: 0;
}
.center{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.form-item{
    margin-bottom:25px;
}

/* 登录页样式 */
.login-contain{
    height: 100%;
    background-size: 100% 100%;
    background-image: url(../images/login-bg.jpg);
}
.form-item .el-input__inner{
    background-color: #0A162B;
    border-color:#3161A2;
}
.login_header{
    text-align: right
}
.login_header li{
    display: inline-block;
    width: 70px;
    text-align: center;
    cursor: pointer;
}

.login-contain .el-button{
    background-color: #3161A2;
    border-color: #3161A2;
    width: 200px;
    margin: 0 auto;
    display: block;
}
.login-contain .license-button{
    position: absolute;
    left: 20px;
    bottom: 45px;
    width: 130px;
}

.box-card .el-card__header{
    border-bottom-color: #3161A2
  }